*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: purple;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(103, 1, 103);
}

nav a{
    padding: 32px;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: gold;
    transition: .4s;
    text-decoration: underline;
}

div > button{
    font-size: 16px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: transparent;
    color: white;
}

div > button:hover{
    color: white;
    background-color: gold;
    transition: .4s;
}

 .one-section{
    background-color: rgba(95, 15, 126, 0.541);
    color: rgb(0, 0, 0);
    max-width: 800px;
 }

 main{
    display: flex;
    justify-content: center;
 }

 .two-section{
    background-color: rgba(95, 15, 126, 0.541);
    color: rgb(0, 0, 0);
    max-width: 1200px;
 }
 
