*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.gm-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ffa200c5;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

header{
    padding: 40px 4%;
}

header>.interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #434141;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
    font-size: 20px;
    color: #000000;
    gap: 40px;
}

/*cabeçalho*/
section.topo-site{
    padding: 40px;
}

section.topo-site .flex{
    align-items: left;
    justify-content: left;
    gap: 90px;
}

.topo-site h2 {
    color: #000000;
    font-size: 42px;
    line-height: 40px;
}

.topo-site h1 {
    color: #000000;
    font-size: 42px;
    line-height: 40px;
}

.topo-site .txt p {
    color: #000000;
    margin: 40px 0;
    font-size: 22px;
}

.topo-site .image img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;


}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}