*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ccc;
    text-align: center;
    font-family: Helvetica;
}

.container-sorteio{
    background-color: rgb(53, 127, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 15px;
}

#title-um{
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #333;
}

#title-dois{
    margin-bottom: 15px;
    color: #333;
}

.btn{
    max-width: 120px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #333;
    margin-bottom: 15px;
}

#btn-sorteio{
    width: 100px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: rgb(74, 184, 74);
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
}